*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1530569673472-307dc017a82d?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTY5NDI3MjI1MA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600") ;
}
#conteiner{
    background: black;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}
.city{
    border-style: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #3f3f3f;
    width: 85%;
    color: white;
}
button{
    border-style: none;
    outline: none;
    padding: 2.7%;
    border-radius: 50px;
    background-color: #3f3f3f;
    cursor: pointer;
    float: right;
    margin-left: 5px;
}
.buscar{
    width: 20px;
}
h2{
    color: white;
    font-size: 28px;
    font-weight: 300;
    margin-top: 30px;
}
p{
    font-size: 20px;
    color: white;
    margin-top: 20px;
}
aside{
    display: flex;
    align-items: center;
    gap: 12px;
}